<body>
  <div class="row">
      <div class="from-group col-sm-6">
          <div class="row">
        <div class="col-sm-3" ></div>
        <div class="col-sm-7">
          <div class="card" style="align-items: center;">
             <form [formGroup]="faq88" (ngSubmit)="onSubmit(faq88.value)">
               <table >
               <tr class="head">Enter Question</tr><br>
               <tr id="tab">
               <input type="text" class="form-control" name="customername" placeholder="Enter your name" formControlName="customername"/>
               <span class="help-block " *ngIf="faq88.get('customername')?.errors && (faq88.get('customername')?.touched ||
               faq88.get('customername')?.dirty)">
                <span class="text-danger" *ngIf="faq88.get('customername')?.errors?.['required']">
                  Name is required
                  </span>
                  </span>
               </tr><br>
               <tr id="tab">
               <input type="email" class="form-control" name="customeremail" placeholder="Enter a valid Email Adress"  formControlName="customeremail"/>
               <span class="help-block " *ngIf="faq88.get('customeremail')?.errors && (faq88.get('customeremail')?.touched ||
               faq88.get('customeremail')?.dirty)">
                <span class="text-danger" *ngIf="faq88.get('customeremail')?.errors?.['required']">Email is required</span>
                <span class="text-danger" *ngIf="faq88.get('customeremail')?.errors?.['pattern']">Please provide a valid email address</span>
                  </span>
               </tr><br>
               <tr><textarea name="querydes" id="Comments" rows="4" cols="40" class="form-control" placeholder="Enter a Question with description" formControlName="querydes"></textarea>
                <span class="help-block " *ngIf="faq88.get('querydes')?.errors && (faq88.get('querydes')?.touched ||faq88.get('querydes')?.dirty)">
                 <span class="text-danger" *ngIf="faq88.get('querydes')?.errors?.['required']">Question is required</span>
                 <span class="text-danger" *ngIf="faq88.get('querydes')?.errors?.['minlength']">Minimum length not satisfied</span>
                   </span></tr>
               <br> <button type="submit" class="btn btn-primary" style="background-color: #6672b6;border: 0px;" [disabled]="!faq88.valid">Submit</button>
               </table></form>
              </div></div></div>
            <div class="col-sm-1"></div>
         </div>
  
      <div class="col-sm-6">
      <h2 class="head" style="text-align: center;margin-top: 10%;padding-bottom: 50px;">	<mat-icon style="margin-right: 10PX;">question_answer</mat-icon>FAQ'S</h2>
       <div class="row">
          <div class="col-sm-10">
          <table *ngFor="let item of faqlist">
          <h5> {{item.question}}</h5>
          <p>{{item.solution}}</p>
  
          </table>
          </div>
          <div class="col-sm-2"></div>
       </div>
  
      </div>
  
  </div>
  
  </body>
`  