.head{
    font-size: x-large;
    font-weight: bolder;
  font-style: italic;
}
.form-control{
    width: 100%;
}
.grp{
    background-color: aqua;
}
body{
    background-image: url(src/image/faq.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    padding-bottom: 200px;
  }
   .card {
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2);
    margin: 15px;
    border-radius: 20px;
    padding: 20px 5px;
    font-style: normal;
    backface-visibility: visible;
    background-color: #575b73;
    border: 0px;
    margin-top: 30%; 
    color: white;
  
  }