
<body>
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <div class="card" style="text-align: center;">
            <div class="container">
              <h4><b>Select Type Of Income</b></h4>
              <button routerLink="/salaried" routerActiveLink="active" class="btn"><b>Salaried</b></button>
              <br>
             <button routerLink="/selfemployed"  routerActiveLink="active" class="btn"><b>Self Employed</b> </button>
              <p class="title"></p>
            </div>
          </div>
    </div>
    <div class="col-sm-4"></div>
</div>
</body>

   