<div class="head">
 <div class="container">
  <div class="intro-text">
    <span>About Us</span>
  </div>
 </div>
</div>
  <br>
  <div class="row">
   <div class="col-sm-1"></div>
   <div class="col-sm-11">
    <div class="lti">
    <h2>LTI</h2>
    <h2>Home Loan</h2>
    <p>LTI Home Loans is the largest Mortgage Lender in India, which has helped over 30 lakh families to achieve the dream of owning a home.</p>
    <h4 >Our Values</h4>
    <ul class="listing">
      <li>Trust</li>
      <li>Transparency</li>
      <li>Integrity</li>
      <li>Excellence</li>
    </ul> 
    <br>
    <h4> Our Team</h4>
   </div>
   </div>
 </div>
  <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-2">
        <div class="card" style="width: 15rem;border: 0px;">
        <img src="https://www.w3schools.com/howto/img_avatar.png" class="card-img-top"  />
        <div class="card-body"><h5 class="card-text" style="text-align: center;">Gaurav Agrawal</h5></div></div></div>
      <div class="col-sm-2">
        <div class="card" style="width: 15rem;border: 0px;">
        <img src="https://www.w3schools.com/howto/img_avatar.png" class="card-img-top"/>
        <div class="card-body"><h5 class="card-text" style="text-align: center;">Ankush Rishav</h5></div></div></div>
      <div class="col-sm-2">
        <div class="card" style="width: 15rem;border: 0px;">
        <img src="https://www.w3schools.com/howto/img_avatar2.png" class="card-img-top"/>
        <div class="card-body"><h5 class="card-text" style="text-align: center;">Shikha Jain</h5></div></div></div>
  
      <div class="col-sm-2">
        <div class="card" style="width: 15rem;">
        <img src="https://www.w3schools.com/howto/img_avatar2.png" class="card-img-top" />
        <div class="card-body"><h5 class="card-text" style="text-align: center;">Achal Narsale</h5></div></div></div>
      <div class="col-sm-2"></div>
  </div>

   
  