*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
  }
  .container{
    max-width: 700px;
    height: 510px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  }
  .heading{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    background-color: #9b59b6;
    width: 300px;
    height: 40px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border-style: dotted;
  }
   form input[type="radio"]{
     display: none;
   }
   form .button{
     height: 45px;
     margin: 35px 0
   }
   form .button input{
     height: 100%;
     width: 100%;
     border-radius: 5px;
     border: none;
     color: #fff;
     font-size: 18px;
     font-weight: 500;
     letter-spacing: 2px;
     cursor: pointer;
     transition: all 0.3s ease;
     background: linear-gradient(135deg, #71b7e6, #9b59b6);
   }
   form .button input:hover{
    
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
    }
   @media(max-width: 584px){
   .container{
    max-width: 100%;
  }
  
    .user-details::-webkit-scrollbar{
      width: 5px;
    }
    }
    @media(max-width: 459px){
    .container .content .category{
      flex-direction: column;
    }
  }
  .form-group{
    padding-left: 20px;
    height: 60px;
  }
  .text-danger{
    padding-left: 10px;
    font-size: smaller;
    color:  #9b59b6;
  }
  .form-control{
    height: 30px;
    border-style:dotted ;
    border-radius: 8px;
  }
  label {
    height: 10px;
    display: flex;
    
    cursor: default;
  }
  .super{
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
    display:flex;
    justify-content: center;
    height: 100%;
  }