<body>
<div class="container row" id="st5">
  <div class="col-sm-5"></div>
  <div class="user col-sm-4">
  <h1>ADMIN LOGIN</h1>
  <form  #AdminLoginForm="ngForm" (ngSubmit)="onSubmit(AdminLoginForm.value)" class="form-horizontal form">
      <div class="form-group">
      <label class="control-label " for="userName" style="margin-bottom: 5px;margin-top: 15px;">Admin User Name:<small style="color:red">*</small></label>
      
        <input type="text" class="form-control userName" placeholder="Enter Name" name="userName" [ngModel]="userName" required #adminUS="ngModel" [class.is-invaild]="adminUS.invalid && adminUS.touched">
      </div>
      <div class="form-group">
      <label class="control-label" for="password" style="margin-bottom: 5px;margin-top: 15px;">Password:<small style="color:red">*</small></label>
             
        <input type="password" class="form-control password"  placeholder="Enter password" name="password" [ngModel]="password"
        required #adminP="ngModel" [class.is-invaild]="adminP.invalid && adminP.touched"> </div>
       <div class="form-group">        
         <div class="">
          <div class="checkbox">
          <label><input type="checkbox" name="remember"> Remember me</label>
          </div>
         </div>
       </div>

    <div class="form-group">    
      <p class ="mandatory"><small style="color:red">*</small><small class="form-text text-muted">fields are mandatory</small></p>
  
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn">Log In</button>
      </div>
    </div>
  </form>
</div>
  <div class="col-sm-3"></div>
 </div>
</body>


