<body> 
  <div class="row">
    <div class="col-sm-3">
      <button mat-icon-button [matMenuTriggerFor]="menu" class="btn" style="color: #575b73 ;"><mat-icon>toc</mat-icon></button>
      <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/userdashboard">My Profile</button>
      <button mat-menu-item routerLink="/userdashboard">Property Details</button>
      <button mat-menu-item routerLink="/userdashboard">Employment Details</button>
      <button mat-menu-item routerLink="/userdashboard">Setting</button>
      <button mat-menu-item routerLink="/userlogin">Logout</button>
     </mat-menu> 
    </div>
    <div class="col-sm-6">
    <div [align]="'center'"> 
      <h1 style="margin-top:100px ;font-style: italic;font-weight: 700px; color:  #575b73   ;">Loan Application Status</h1> </div>
      <div class="card5">
      <Table class="table table-striped">
         <tbody>
            <tr>
              <th>Application Id</th>
              <th>User Id</th>
              <th>Application Status</th>     
            </tr>
            <tr>
               <td> {{applicationList.applicationId}}</td>
               <td>{{applicationList.user.email}}</td>
               <td>{{applicationList.status}}</td>
            </tr> 
         </tbody>
       </Table>
     </div>
  </div> 
  <div class="col-sm-3"></div>
</div>
</body>