<link rel="stylesheet" href="salaried.component.css">
<div class="container addform">
  <br>  
  <br>
  <h2 class="heading">Income Salaried form</h2>
  <br>
<div class="row">
    <div class="col-lg-12">
    
    <form [formGroup]="salariedForm" (ngSubmit)="onSubmit()">
        
        <br>
      
  <div class="form-group">
      <label for="retirementAge" class="col-sm-2 col-form-label" [ngClass]="{'has-error':salariedForm.get('retirementAge')?.errors && (salariedForm.get('retirementAge')?.touched || salariedForm.get('retirementAge')?.dirty)}"><b>Retirement Age: </b></label><br>
     <div class="col-sm-5"> 
    <input type="number" class="form-control" id="retirementAge" formControlName="retirementAge">
    <span class="help-block " *ngIf="salariedForm.get('retirementAge')?.errors && (salariedForm.get('retirementAge')?.touched || salariedForm.get('retirementAge')?.dirty)">
    <span class="text-danger" *ngIf="salariedForm.get('retirementAge')?.errors?.['required']">
      Retirement Age is required
      </span>
      </span>
  </div>
  </div><br>
      
 <div class="form-group">
     <label for="monthlySalary" class="col-sm-2 col-form-label" [ngClass]="{'has-error':salariedForm.get('monthlySalary')?.errors && (salariedForm.get('monthlySalary')?.touched || salariedForm.get('monthlySalary')?.dirty)}" ><b class="dirty">Monthly Salary:</b></label><br>
      <div class="col-sm-5">
    <input type="number" class="form-control" id="monthlySalary" formControlName="monthlySalary">
    <span class="help-block " *ngIf="salariedForm.get('monthlySalary')?.errors && (salariedForm.get('monthlySalary')?.touched || salariedForm.get('monthlySalary')?.dirty)">
      <span class="text-danger" *ngIf="salariedForm.get('monthlySalary')?.errors?.['required']">
        Monthly Salary is required
        </span>
        </span>
     </div>
  </div>
  <br>

      <div class="form-group">
      <label for="organization" class="col-sm-2 col-form-label" [ngClass]="{'has-error':salariedForm.get('organization')?.errors && (salariedForm.get('organization')?.touched || salariedForm.get('organization')?.dirty)}"><b>Organization:</b></label><br>
       <div class="col-sm-5">
     <input type="text" class="form-control" id="organization" formControlName="organization">
     <span class="help-block " *ngIf="salariedForm.get('organization')?.errors && (salariedForm.get('organization')?.touched || salariedForm.get('organization')?.dirty)">
      <span class="text-danger" *ngIf="salariedForm.get('organization')?.errors?.['required']">
        Organization is required
        </span>
        </span>
      </div>
   </div>
   <br>
   <div class="button">
   <input type="submit" value="Next">
 </div> 
</form>
</div>
</div>
