body {
    background-image: url("https://img.freepik.com/premium-photo/loan-wood-block-arrange-business-man-model_42256-1733.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
    padding-bottom:230px ;
    background-position: center;
    }
h1 {
    text-align: center;
  }

.form-group{
    font-size: large;
    font-style: italic;
    font-weight: 500px;
}
.btn{
    font-weight:bold ;
    background-color: antiquewhite;
    margin-top: 0px;
  }
  .user{
    margin-top: 50px;
  }
  .form-group
  {
   font-size: large;
  }

  #st5
  {
    font-weight: 500;
    font-style: italic;
  }
  