<!-- 
<html>
  <head>
  <style>
  h1 {text-align: center;}
  </style>
  </head>
  <body>

<body background="https://wallpapercave.com/wp/wp9764023.jpg">
  <br>
  <br>
  <h1>USER LOGIN</h1>
<div class="container p-5">
  <div class="container">
  <form #userLoginForm="ngForm" (ngSubmit)="onSubmit(userLoginForm.value)">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control mb-4" name="email" [ngModel]="email" 
      required  #adminId="ngModel" [class.is-invaild]="adminId.invalid && adminId.touched"  >
         <small class="text-danger" [class.d-none]="adminId.valid || adminId.untouched">User Id is required feild</small>
    </div><br>
    
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control mb-4" name="password" [ngModel]="password" 
      required  #adminId="ngModel" [class.is-invaild]="adminId.invalid && adminId.touched"  >
         <small class="text-danger" [class.d-none]="adminId.valid || adminId.untouched">password is required feild</small>
    </div>
    <button type="submit" class="btn btn-success mb-4">Login</button>
  </form>

  </div>
</div>

 -->

 
   
 <body>
   <br>
   <br>
   <h1 style="font-style: italic;">USER LOGIN</h1>
   <div class="container row" id="st5">
    <div class="col-sm-5"></div>
    <div class="user col-sm-4">
   <form #userLoginForm="ngForm" (ngSubmit)="onSubmit(userLoginForm.value)">
     <div class="form-group">
       <label class="email" style="margin-bottom: 15px;">Email<small style="color:red">*</small>
 </label>
       <input type="text" class="form-control email" placeholder="Enter mail id"name="email" [ngModel]="email" 
       required  #adminId="ngModel" [class.is-invaild]="adminId.invalid && adminId.touched"  >
          
     </div><br>
     <div class="form-group">
       <label class="password"style="margin-bottom: 15px;">Password<small style="color:red">*</small></label>
       <input type="password" class="form-control password" placeholder="Enter password "name="password" [ngModel]="password" 
       required  #adminId="ngModel" [class.is-invaild]="adminId.invalid && adminId.touched">
     </div>
     <p class ="mandatory" style="padding-top: 10px;"><small style="color:red">*</small><small class="form-text text-muted">fields are mandatory</small></p>
 
     <button type="submit" class="btn">Login</button>
   </form>
  </div>
  <div class="col-sm-3"></div>
   </div>
   </body>
 
 
 