   
 <body>
   <br>
   <br>
   <h1 style="font-style: italic;">USER LOGIN</h1>
   <div class="container row" id="st5">
    <div class="col-sm-5"></div>
    <div class="user col-sm-4">
      <form [formGroup]="userLoginForm"
      (ngSubmit)="onSubmit(userLoginForm.value)">
     <div class="form-group">
       <label class="email" style="margin-bottom: 15px;">Email:
 </label>
       <input type="text" class="form-control" placeholder="Enter mail id"name="email" [ngModel]="email" formControlName="email"/>
       <span class="help-block " *ngIf="userLoginForm.get('email')?.errors && (userLoginForm.get('email')?.touched ||
       userLoginForm.get('email')?.dirty)">
               <span class="text-danger" *ngIf="userLoginForm.get('email')?.errors?.['required']">
                 email is required
                 </span>
                 </span>

     </div><br>
     <div class="form-group">
       <label class="password"style="margin-bottom: 15px;">Password:</label>
       <input type="password" class="form-control password" placeholder="Enter password "name="password" [ngModel]="password"formControlName="password"/>
       <span class="help-block " *ngIf="userLoginForm.get('password')?.errors && (userLoginForm.get('password')?.touched ||
       userLoginForm.get('password')?.dirty)">
               <span class="text-danger" *ngIf="userLoginForm.get('password')?.errors?.['required']">
                 password is required
                 </span>
                 </span>

     </div>
    <br>
     <button type="submit" class="btn" [disabled]="!userLoginForm.valid">Login</button>
   </form>
  </div>
  <div class="col-sm-3"></div>
   </div>
   </body>
 
 
 