.super{
    background-color:   rgba(14, 160, 9, 0.719);
    color: white;
    box-shadow: 0 5px 10px rgba(8, 8, 8, 0.281);
    border-radius: 5px;
    border-color: transparent;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    
  }
  .heading{
    font-size: 40px;
    font-weight: 500;
    text-shadow: 0 5px 10px rgba(0,0,0,0.15);
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
    padding: 20px;
    color: white;
    border-radius: 50px;
    border-style: dotted;
  }
  .row{
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 35px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    
  }
  .form-control{
    border-style: dotted;
    border-color: rgb(233, 167, 241);
    border-radius: 10px;
    height: 30px;
  }
  label {
    height: 10px;
    display: flex;
    
    cursor: default;
  }
  