
  <link rel="stylesheet" href="property.component.css">
  <h2 class="heading" style="text-align: center">Property Form</h2>
  <div class="container addform">
 <div style="display: flex;justify-content: center;align-items: center; height: 100%; width: 100%;">
 <br>
 <div class="row" >
 <div class="col-lg-12">
 <form [formGroup]="propertyForm" (ngSubmit)="onSubmit()">
      <br>
      
  <div class="form-group row">
      <label for="propertyName" class="col-sm-2 col-form-label" [ngClass]="{'has-error':propertyForm.get('propertyName')?.errors && (propertyForm.get('propertyName')?.touched || propertyForm.get('propertyName')?.dirty)}" style="color: rgb(105, 104, 104); "><b>Property Name</b>: </label><br>
     <div class="col-sm-5"> 
    <input type="text" class="form-control" id="propertyName" formControlName="propertyName" >
    <span class="help-block " *ngIf="propertyForm.get('propertyName')?.errors && (propertyForm.get('propertyName')?.touched || propertyForm.get('propertyName')?.dirty)">
    <span class="text-danger" *ngIf="propertyForm.get('propertyForm')?.errors?.['required']" style="font-size: 12px; color: rgb(233, 167, 241); padding-left: 5px;">
      Property Name is required
      </span>
      </span>
      </div>
  </div><br>
      
 <div class="form-group row">
     <label for="propertyLocation" class="col-sm-2 col-form-label" [ngClass]="{'has-error':propertyForm.get('propertyLocation')?.errors && (propertyForm.get('propertyLocation')?.touched || propertyForm.get('propertyLocation')?.dirty)}"
     style="color: rgb(105, 104, 104); " ><b>Property Location:</b></label><br>
      <div class="col-sm-5">
    <input type="text" class="form-control" id="propertyLocation" formControlName="propertyLocation">
    <span class="help-block " *ngIf="propertyForm.get('propertyLocation')?.errors && (propertyForm.get('propertyLocation')?.touched || propertyForm.get('propertyLocation')?.dirty)">
      <span class="text-danger" *ngIf="propertyForm.get('propertyLocation')?.errors?.['required']" style="font-size: 12px; color: rgb(233, 167, 241); padding-left: 5px;">
        Property Location is required
        </span>
        </span>
     </div>
  </div>
      <br>

      <div class="form-group row" >
      <label for="amount" class="col-sm-2 col-form-label" [ngClass]="{'has-error':propertyForm.get('amount')?.errors && (propertyForm.get('amount')?.touched || propertyForm.get('amount')?.dirty)}" style="color: rgb(105, 104, 104); "><b>Amount</b></label><br>
       <div class="col-sm-5">
     <input type="number" class="form-control" id="amount" formControlName="amount" >
     <span class="help-block " *ngIf="propertyForm.get('amount')?.errors && (propertyForm.get('amount')?.touched || propertyForm.get('amount')?.dirty)">
      <span class="text-danger" *ngIf="propertyForm.get('amount')?.errors?.['required']" style="font-size: 12px; color: rgb(233, 167, 241); padding-left: 5px;">
        Amount is required
        </span>
        </span>
      </div>
   </div>

  


<br>
      <button type="submit" class="super"  style="font-size: 10px; padding: 10px;">NEXT</button>       
      
</form></div></div></div></div>
