<body > 
  <div class="row" style="margin-bottom: 15px;color: white;">
    <div class="col-sm-1" style="height: 100%;">
        <button mat-icon-button [matMenuTriggerFor]="menu" class="btn" style="color: #6672b6;"><mat-icon>toc
        </mat-icon></button>
        
        <mat-menu #menu="matMenu" style="background-color: #575b73;">
        <button mat-menu-item routerLink="/admindashboard">My Profile</button>
        <button mat-menu-item routerLink="/admindashboard">Setting</button>
        <button mat-menu-item routerLink="/aboutus">AboutUs</button>
        <button mat-menu-item routerLink="/adminlogin">Logout</button>
      </mat-menu>
    
      
    </div>
 <div class="col-sm-3">
    <div class="card" style="margin-top: 30px;padding-top: 15px;">
        <div class="container">
          <h4 style="font-weight: 500;font-size: 18px;">Total Number of Applications:</h4>
          <h5>{{allappcount}}</h5>
        </div>
      </div>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="card" style="margin-top: 30px;padding-top: 15px;">
            <div class="container">
              <h6 style="font-weight: 500;font-size:18px;">Number Of Approved Applications:</h6>
              <h5>{{approvedcount}}</h5>
            </div>
          </div></div>
          <div class="col-sm-1"></div>
          <div class="col-sm-3">
            <div class="card" style="margin-top: 30px;padding-top: 15px;">
                <div class="container">
                  <h4 style="font-weight: 500;font-size: 18px;">Number Of Pending Applications:</h4>
                  <h5>{{pendingcount}}</h5>
                </div>
              </div>
             </div>
  </div>


    <div class="row"> 
        <div class="col-sm-1">
          <button mat-menu-item routerLink=""></button>
        </div>
        <div class="col-sm-10">
        <div id="admin-div" [align]="'center'" > 
        <button mat-button [matMenuTriggerFor]="appre" class="card6"><h5>Applications</h5></button>
            <mat-menu #appre="matMenu" style="align-self: center;">
                 <button mat-menu-item (click)=displayapproved()>Approved</button>
                 <button mat-menu-item (click)=displayrejected()>Rejected</button>
                 <button mat-menu-item (click)="displaypending()">Pending</button>
            </mat-menu>
            <div *ngIf="isapproved">
              <h4 style="color: #575b73;" >Approved Applications</h4>  
              <div class="card5">
                 <Table class="table table-striped">
                  <tbody>
                   <tr>
                   <th>User Id</th>
                   <th>First Name</th>
                   <th>Last Name</th>
                   <th>Email Id</th>
                   <th>Application Id</th>
                   <th>Loan Amount</th>
                   <th>Tenure</th>
                   <th>Interest Rate</th>
                   <th>Pan No</th>
                   <th>Status</th>
                   </tr>
                   <tr  *ngFor = "let a of approvedlist"  >
                   <td> {{a.user.userId}} </td>
                   <td> {{a.user.firstName}} </td>
                   <td> {{a.user.lastName}} </td>
                   <td> {{a.user.email}} </td>
                   <td> {{a.applicationId}} </td>
                   <td> {{a.loanAmount}} </td>
                   <td> {{a.tenure}} </td>
                   <td> {{a.interest}} </td>
                   <td> {{a.user.panNo}} </td>
                   <td> {{a.status}} </td>
                   </tr>
                   </tbody>
                 </Table>
                </div>
            </div>
            <div *ngIf="isrejected">
              <h4 style="color: #575b73;">Rejected Applications</h4> 
              <div class="card5">
                 <Table class="table table-striped">
                  <tbody>
                   <tr>
                   <th>User Id</th>
                   <th>First Name</th>
                   <th>Last Name</th>
                   <th>Email Id</th>
                   <th>Application Id</th>
                   <th>Loan Amount</th>
                   <th>Tenure</th>
                   <th>Interest Rate</th>
                   <th>Pan No</th>
                   <th>Status</th>
                   </tr>
                   <tr  *ngFor = "let a of rejectedlist; let i=index;"  >
                   <td> {{a.user.userId}}</td>
                   <td> {{a.user.firstName}}</td>
                   <td> {{a.user.lastName}}</td>
                   <td> {{a.user.email}}</td>
                   <td> {{a.applicationId}}</td>
                   <td> {{a.loanAmount}}</td>
                   <td> {{a.tenure}}</td>
                   <td> {{a.interest}}</td>
                   <td> {{a.user.panNo}}</td>
                   <td> {{a.status}}</td>
                   </tr>
                   </tbody>
                 </Table>

                </div>
            </div>




            <div *ngIf="ispending">
              <h4 style="color: #575b73;">Pending Applications</h4> 
              <div class="card5">
                 <Table class="table table-striped">
                  <tbody>
                   <tr >
                   <th>User Id</th>
                   <th>First Name</th>
                   <th>Last Name</th>
                   <th>Email Id</th>
                   <th>Application Id</th>
                   <th>Loan Amount</th>
                   <th>Tenure</th>
                   <th>Interest Rate</th>
                   <th>Pan No</th>
                   <th>Status</th>
                   <th>Approve/Reject</th>
                   </tr>
                   <tr  *ngFor = "let a of pendinglist ; let i=index;"  >
                   <td> {{a.user.userId}}</td>
                   <td> {{a.user.firstName}}</td>
                   <td> {{a.user.lastName}}</td>
                   <td> {{a.user.email}}</td>
                   <td> {{a.applicationId}}</td>
                   <td> {{a.loanAmount}}</td>
                   <td> {{a.tenure}}</td>
                   <td> {{a.interest}}</td>
                   <td> {{a.user.panNo}}</td>
                   <td> {{a.status}}</td>
                   <td>
                   <button class="btn5" style="margin-bottom:4px;margin-right:10px ;border-radius: 10px;" [type]="'submit'" (click)="updateStatus(a.applicationId);reloadCurrentPage()">Approve</button>
                   <button class="btn5" [type]="'submit'" (click)="updateStatus1(a.applicationId);reloadCurrentPage()" style="border-radius:10px;">Reject</button>
                   </td>
                   </tr>
                   </tbody>
                 </Table>

                </div>
            </div>
          </div>
</div>
</div>
</body>